openapi: 3.1.0
info:
  title: Runway Gen-2 Video Generator API
  description: Generate AI videos using Runway's Gen-2 API from text prompts.
  version: 1.0.0
servers:
  - url: https://api.runwayml.com
    description: Runway API server
paths:
  /v1/gen/video:
    post:
      operationId: generateVideo
      summary: Generate a video from a text prompt
      description: Submit a text prompt to Runway's Gen-2 API to generate a video.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: A text description of the video to generate.
                seed:
                  type: integer
                  description: Optional random seed for reproducibility.
                output_format:
                  type: string
                  enum: [mp4, gif]
                  default: mp4
                  description: Desired output video format.
                interpolation_frames:
                  type: integer
                  description: Optional number of interpolation frames.
                fps:
                  type: integer
                  description: Desired video frames per second.
                num_frames:
                  type: integer
                  description: Number of video frames to generate.
      responses:
        '200':
          description: A URL pointing to the generated video.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the video generation job.
                  url:
                    type: string
                    format: uri
                    description: URL to download or view the generated video.
        '400':
          description: Bad request - check your input prompt and parameters.
        '401':
          description: Unauthorized - invalid API key.
        '500':
          description: Internal server error - something went wrong on Runway's side.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
security:
  - ApiKeyAuth: []
